<h1>Contactenos</h1>

<div class="bg-index"> 
<p>Escríbenos en este a <a href="mailto:someone@example.com?Subject=MiPinterest" target="_top">! este correo ¡</a>, o al teléfono (56) 2 2255 66 66</p>
</div>