

body{
    font-family: 'Baloo Thambi 2', cursive;
    background-image: url("back.jpg");
    background-position: center center;
    background-attachment: fixed;
}

footer {
    font-weight: bold;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }


// header{
//     text-align: center  ;
//     background-color: whitesmoke;
//     color:red;
//     margin:-8px;
//     padding: 1rem 0px;
// }

